<footer class="footer">
    <ul class="wrapper-footer wrapper-footer__1">
      <li class="link"><a href="https://www.adalab.es" target="blank">Articles</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Books</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Events</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Reasons</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Tips</a></li>
    </ul>
    <ul class="wrapper-footer wrapper-footer__2">
      <li class="link"><a href="https://www.adalab.es" target="blank">Twitter</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Instagram</a></li>
      <li class="link"><a href="https://www.adalab.es" target="blank">Mastodon.Social</a></li>
    </ul>
  <small class="small">&copy 2017</small>
  <div class="we-love">We <span class="heart">&#x2764</span> components</div>
</footer>