<footer class="footer">
  <div class="footer__arrow">
    <a href="#hero"><img class="footer__arrow--up" src="./assets/images/ico-arrow.svg" alt=""></a>
  </div>
  <ul class="footer__wrapper footer__wrapper--1">
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Articles</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Books</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Events</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Reasons</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Tips</a></li>
  </ul>
  <ul class="footer__wrapper footer__wrapper--2">
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Twitter</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Instagram</a></li>
    <li class="footer__wrapper--link"><a href="https://www.adalab.es" target="blank">Mastodon.Social</a></li>
  </ul>
  <div class="footer__copylove">
    <small class="footer__copylove--small">&copy2017</small>
    <div class="footer__copylove--we-love">We<span class="footer__copylove--we-love--heart">&#x2764</span>components</div>
  </div>
</footer>