<main>
  <section class="section1">
      <h6 class="section1__smalltext">Insomnia tips</h5>
      <h2 class="section1__title">Looking through a window</h2>
      <p class="section1__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <div class="section1__button1"><a href="" class="section1__button1--go" >Go</a></div>
  </section>
  <section class="section2" id="reason">
    <h2 class="section2__title">3 Reasons To Purchase</h2>
    <div class="section2__reason1">
      <h4 class="section2__reason1--title1 section2__reason1--titleall">Ut sed metus</h4>
      <p class="section2__reason1--text1 section2__reason1--textall">Lorem ipsum, dolor sit <br> amet consectetur.</p>
    </div>
    <div class="section2__reason2">
      <h4 class="section2__reason2--title2 section2__reason1--titleall">Curabitur ac erat</h4>
      <p class="section2__reason2--text2 section2__reason1--textall">Mauris mattis urna <br> quis lorem molestie.</p>
    </div>
    <div class="section2__reason3">
      <h4 class="section2__reason3--title3 section2__reason1--titleall">Morbi dictum</h4>
      <p class="section2__reason3--title3 section2__reason1--textall">Aliquam in dolor et <br> dolor tincidunt.</p>
    </div>
    <div class="section2__button"><a href="">More reasons</a></div>
  </section>
</main>