* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
/*html {
  scroll-padding-top: 105px;
}

@media all and (min-width: 768px) {
  html {
    scroll-padding-top: 60px;
  }
}*/