$font_RobotoSlab-Bold: "Roboto Slab", bold;
$font_Roboto-Medium: "Roboto", medium;
$font_Roboto-Regular: "Roboto", regular;
$font_white: #ffffff;
$font_black: #000000;
$color_orange: #f26002;
$background_white: #ffffff;