.footer {
    background-color: #304268;
    &__arrow {
        background-color: $background_white;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        position: relative;
        margin: auto;
        bottom: 25px;
        animation-name: natol;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        &--up{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 10px;
        }
        @keyframes natol{
            from {
                transform: rotate(0);
            }
            30% {
                transform: rotate(90deg);
            }
            60% {
                transform: rotate(180deg);
            }
            75% {
                transform: rotate(270deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    }
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__wrapper--link {
        color: $font_white;
        font-weight: $font_Roboto-Regular;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-transform: uppercase;
    }
    &__copylove--small {
        color: $font_white;
        font-weight: $font_Roboto-Regular;
        font-size: 14px;
        line-height: 2.14;
        text-transform: lowercase;
    }
    &__copylove--we-love {
        color: $font_white;
        font-weight: $font_Roboto-Regular;
        font-size: 14px;
        line-height: 2.14;
        text-transform: lowercase;
        margin-bottom: 45px;
        &--heart {
            color: $color_orange;
        }
    }   
}
@media all and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        height: 240px;
        margin: 0 39px 0 39px;
        &__wrapper--1 {
            width: 210px;
        }
        &__wrapper--2 {
            width: 210px;
        }
        &__copylove {
            width: 210px;
            order: -1;
            display: flex;
            flex-direction: column;
        }
    }
}
@media all and (min-width: 1200px) {
    .footer-container {
        margin: 0 370px 0 370px;
    }
}