.section2 {
    background-color: #eff9ff;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 30px 30px 45px 83px 45px 83px 45px 83px 45px 45px 60px;
    justify-items: center;
    margin: auto;

    &__title {
        font-family: $font_RobotoSlab-Bold;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: $font_black;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    &__reason1 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        &--titleall {
            font-family: $font_RobotoSlab-Bold;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: $font_black;
        }
        &--textall {
            font-size: 18px;
            font-weight: $font_Roboto-Regular;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: $font_black;
        }
    }
    &__reason2 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    &__reason3 {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    &__button {
        font-weight: $font_Roboto-Medium;
        font-size: 20px;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.25;
        letter-spacing: normal;
        text-align: center;
        color: $font_white;
        background-color: $color_orange;
        border-radius: 22.5px;
        width: 184px;
        height: 45px;
        grid-column: 2 / 3;
        grid-row: 10 / 11;
        transition: color background-color scale ease;
        transition-duration: 1s;
    }
    &__button:hover {
        color: $color_orange;
        background-color: $background_white;
        border: solid $color_orange 2px;
        scale: (2, 2);
    }
}
@media all and (min-width: 768px) {
    .section2 {
        display: grid;
        grid-template-columns: 35.7px 1fr 27.7px 1fr 27.7px 1fr 40px;
        grid-template-rows: 30px 45px 45px 112px 60px 45px 60px;
        &__title {
            font-size: 26px;
            grid-column: 1 / 8;
            grid-row: 2 / 3;
        }
        &__reason1 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;

            &--titleall {
                width: 210px;
                font-size: 24px;
            }
            &--textall {
                width: 212.3px;
                font-size: 20px;
            }
        }
        &__reason2 {
            grid-column: 4 / 5;
            grid-row: 4 / 5;
        }
        &__reason3 {
            grid-column: 6 / 7;
            grid-row: 4 / 5;
        }
        &__button {
            grid-column: 4 / 5;
            grid-row: 6 / 7;
            width: 210px;
        }
    }
}
@media all and (min-width: 1200px) {
    .section2 {
        display: grid;
        grid-template-columns: 81.2px 1fr 26.2px 1fr 26.2px 1fr 85px;
        grid-template-rows: 60px 45px 45px 112px 60px 45px 60px;
        &__title {
            font-size: 32px;
        }
        &__reason1 {
            &--titleall {
                width: 350px;
                font-size: 24px;
            }
            &--textall {
                width: 353.8px;
                font-size: 20px;
            }
        }
        &__button {
            width: 255px;
        }
    }
}