.section1 {
    background-color: $background_white;
    display: flex;
    flex-direction: column;
    justify-content: left;

    &__smalltext {
        font-size: 14px;
        font-weight: $font_Roboto-Regular;
        font-style: normal;
        line-height: 2.14;
        color: #8ccbea;
        margin: 30px 215px 0 15px;
    }
    &__title {
        font-family: $font_RobotoSlab-Bold;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $font_black;
        margin: 0 15px 15px 15px;
    }
    &__text {
        font-size: 18px;
        font-weight: $font_Roboto-Regular;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #4a4a4a;
        margin: 0px 15px 30px 15px;
    }
    &__button1 {
        font-size: 20px;
        font-weight: $font_Roboto-Medium;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.25;
        letter-spacing: normal;
        text-align: center;
        color: $color_orange;
        border: solid $color_orange 2px;
        border-radius: 22.5px;
        width: 76px;
        height: 45px;
        margin: 0px 229px 45px 15px;
        transition: color background-color font-size scale ease;
        transition-duration: 1s;
        &--go {
            padding: 20px;
        }
    }
    &__button1:hover {
        color: $font_white;
        background-color: $color_orange;
    }
}
@media all and (min-width: 768px) {
    .section1 {
        margin: 0 39px 0 39px;
        &__button1 {
            width: 91px;
        }
    }
}
@media all and (min-width: 1200px) {
    .section1 {
        margin: 0 275px 0 275px;
        &__smalltext {
            font-size: 14px;
            font-weight: $font_Roboto-Regular;
            font-style: normal;
            line-height: 2.14;
            color: #8ccbea;
            margin-top: 60px;
        }
        &__button1 {
            width: 160px;
        }
    }
}